
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
 </head>
<body>
    <h2>Ваше повідомленя успішно надіслано адміністратору</h2>
</body>
</html>
